# Ignorar el archivo .env
.env

# Ignorar la carpeta node_modules en cualquier nivel
**/node_modules/

# Ignorar la api:
/client/src/utils/api.js

# Ignorar las carpetas de distribución
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Caché de Vite
.vite/

# Archivos locales y de configuración del editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
